[submodule "stable-diffusion-task"]
	path = stable-diffusion-task
	url = https://github.com/crynux-ai/stable-diffusion-task.git
[submodule "gpt-task"]
	path = gpt-task
	url = https://github.com/crynux-ai/gpt-task.git
[submodule "crynux-worker"]
	path = crynux-worker
	url = https://github.com/crynux-ai/crynux-worker.git
