celery[redis]==5.3.1
pyyaml==5.3.1
web3==6.8.0
anyio==3.7.1
sqlalchemy==2.0.20
aiosqlite==0.19.0
fastapi==0.101.1
hypercorn==0.14.4
httpx==0.24.1
pydantic==2.2.1
pydantic-settings==2.0.3
importlib-resources==6.0.1
python-multipart==0.0.6
tenacity==8.2.3