log:
  dir: "logs"
  level: "INFO"

ethereum:
  privkey: ""
  provider: "https://block-node.crynux.ai/rpc"
  chain_id: 42
  gas: 42949670
  gas_price: 1

  contract:
    token: "0xB627D84BFB8cC311A318fEf679ee498F822A0C7C"
    node: "0x73F8eAD4d29e227958aB5F3A3e38092271500865"
    task: "0x3f4e524d5Ff53D0e98eE5A37f81f4F21551502B2"

task_dir: tasks
db: sqlite+aiosqlite:///db/server.db
relay_url: "https://relay.h.crynux.ai"
web_dist: dist

headless: false
distributed: false
task_config:
  output_dir: "/app/data/images"
  hf_cache_dir: "/app/data/huggingface"
  external_cache_dir: "/app/data/external"
  script_dir: "/app/stable-diffusion-task"
  inference_logs_dir: "/app/inference-logs"
  result_url: ""

  preloaded_models:
    base:
      - id: "runwayml/stable-diffusion-v1-5"
      - id: "emilianJR/chilloutmix_NiPrunedFp32Fix"
      - id: "stabilityai/stable-diffusion-xl-base-1.0"
      - id: "stabilityai/stable-diffusion-xl-refiner-1.0"
    controlnet:
      - id: "lllyasviel/sd-controlnet-canny"
      - id: "lllyasviel/control_v11p_sd15_openpose"
      - id: "diffusers/controlnet-canny-sdxl-1.0"
    vae: []
  proxy: null

last_result: ""
